<div class="container">
  <div class="object-mail">
    <ul>
      <% @emails.each do |g|  %>
        <li> <%= link_to g.object, email_path(g.id), remote: true %></li>
      <% end %>
    </ul>
  </div>

  <div class="body-email">
  </div>

</div>
